/*
    Document   : fitpark
    Created on : Mar 1, 2013, 7:34:46 PM
    Author     : dmitry
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

* {margin: 0;
padding: 0;}

header, nav, section, article, aside, footer {display:block}
section section {
    float: left;
}

#left-side, #right-side {
    width: auto;
}

body {
    background: #dddddd url('/image/background.png');
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
/*    background-color: #ffffff;*/
    height: 100%;
}


#center {
    width: 1000px;
}

#content {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 100%;
    /*box-shadow: 2px 0 20px #5d5d5d;*/
}

#content:before,
#content:after {
  display: table;
  line-height: 0;
  content: "";
}


#title {
    padding-left:  77px ;
    background: url('/image/header-bkgrnd.png');
    height: 35px;
    box-shadow: 0 2px 20px #5d5d5d;
}

.name-section {
    display: block;
    height: auto;
    padding: 7px;
}

.my-link  {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.my-link:hover  {
    text-decoration: underline;
}

.logo {
    margin-left: 10px;
    float: left;
    margin-right: 20px;
}

.header-content {
    height: 100%;
    padding-top: 20px;
    margin-left: 20px;
}

.search {
    border-radius: 9px;
    border: 1px solid #333333;
    padding: 5px;
    float: left;
    display: block;
    height: 25px;
    outline: none;
    margin-right: 10px;
    width: 230px;
}

.header {
    height: 75px;
}

header-content>* {
    float: left;
}

.button-search {
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 9px;
    border: 1px solid #333333;
    background: url('/image/search1.png');
    margin-right: 60px;
}

.enter-link {
    margin-right: 25px;
    float: left;
}

.action {
    padding: 10px;
}

.action a{
    text-decoration: none;
    color: #333333;
}

.action a:hover {
    text-decoration: underline;
}

.telefon-support {
    float: right;
    text-align: center;
    margin-right: 30px;
}

.telefon-number {

}

.telefon-slogan {
    text-align: center;
    color: #c7c7c7;
}

#menu {
    background-color: #5a5a5a;
    height: 30px;
    width: 100%;

}

#menu li:first-child {
    margin-left: 20px;
}

#menu li {
    list-style-type: none;
    float: left;
    margin: 5px;
    border-right: 1px solid #9c9c9c;
    padding-right: 10px;
}

#menu a{
    text-decoration: none;
    color: #9c9c9c;
}

#menu a:hover {
    color: #ffffff;
}

#work-area {
    padding: 28px;
}

#breadcrumbs {
    margin-bottom: 27px;
    margin-top: 20px;
}

#breadcrumbs a{
    color: #a1a1a1;
    text-decoration: none;
    font-size: 14px;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

#breadcrumbs li {
    list-style-type: none;
    float: left;
    padding: 5px;
}

#work-area {
    background-color: white;
    padding-top: 20px;
    height: 100%;
    /*width: 1000px;*/
}

#clubs-content>aside {
    float: left;
    margin-right: 10px;
    display: block;
    width: 190px;

}

#clubs-content>section {
    float: left;
    display: block;
}

.values-option li{
    list-style-type: none;
}

#clubs-content {
    margin-top: 30px;
}

.name-option h3 {
    text-decoration: underline;
    float: left;
}

.arrow {
    width: 10px;
    height: 5px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-top: 7px;
    background: url('/image/arrow.png');
    /*display: block;*/
}

.right-arrow {
    width: 5px;
    height: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    background: url('/image/right-arrow.png') no-repeat;
}

.name-option {
    margin-bottom: 10px;
}

.option {
    margin-bottom: 10px;
    display: block;
}
#clubs-content {
    width: 20%;
}

.name-option {
    cursor: pointer;
}

.title-type-sort {
    color: #919191;
}

.type-sort li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.type-sort li a{
    text-decoration: underline;
    color: #333333;
}

.type-sort li a:hover {
    text-decoration: none;
}

.active {
    text-decoration: none;
    font-weight: bold;
}

.active:hover {
    text-decoration: underline;
}

.options {
    width: 200px;
}

#clubs-list {
    float: left;
}

.option >* {
    float: left;
}

.title-section-fitnes {
    margin-top: 10px;
    margin-bottom: 35px;
}

.mini-card-club {
    border-top: 1px solid #919191;
    width: 100%;
    padding-top: 10px;
    widows: 100%;
    margin-top: 10px;
}

.img-club {
    width: 160px;
}

#list {
    width: 100%;
}

.icons-services li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.services-pool {
    width: 40px;
    height: 40px;
    background: url('/image/pool.png') no-repeat;
}
.services-bicycle {
    width: 40px;
    height: 40px;
    background: url('/image/сайкл.png') no-repeat;
}
.services-yoga {
    width: 40px;
    height: 40px;
    background: url('/image/йога.png') no-repeat;
}

.level-club {
    float: none;
}
.services-club {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-description-club {
    float: none;
}

.level-club {
    margin-top: 10px;
}

.button-get-discount {
    background: url('/image/get-discount.png');
    width: 217px;
    height: 29px;
    margin-top:  5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.button-more {
    width: 217px;
    height: 29px;
    background: url('/image/more-details.png') no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.mini-card-club-part {
    padding: 5px;
}

.main-img-club {
    float: left;
    height: 100%;
    margin-top: 60px;
}

.short-description-card {
    float: left;
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 15px;
}

.short-description-card header {
    margin-bottom: 20px;
}

.icon-home {
    background: url('/image/png/glyphicons_020_home.png') no-repeat;
    width: 27px;
    height: 27px;
    float: left;
    margin-right: 5px;
}

.icon-hand-up {
    background: url('/image/png/glyphicons_347_hand_up.png') no-repeat;
    width: 19px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.icon-phone {
    background: url('/image/png/glyphicons_169_phone.png') no-repeat;
    width: 15px;
    height: 25px;
    float: left;
    margin-right: 5px;
}

.button-guest {
    background: url('/image/guest.png') no-repeat;
    width: 217px;
    height: 29px;
    cursor: pointer;
}

.main-img-club {
    margin-right: 45px;
    width: 350px;

}
.main-img-club img {
    vertical-align: middle;
}

.variation-abonements {
    margin-bottom: 20px;
}

.button-guest-card {
    margin-left: 50px;
}

.card-home {
    padding-top: 20px;
}

.card-action-button {
    margin-top:  40px;
}

.tab {
    border-bottom: 1px solid #a1a1a1;
    padding: 0 0px 0 0px;
    border-right: 0;
    border-left: 0;
    border-collapse:collapse;
    width: 150px;
    text-align: center;
}

.spacer {
    border-bottom: 1px solid #a1a1a1;
    width: 16px;
}

.tab div {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #a1a1a1;
    padding: 15px 15px 10px 15px;

}

tab:first-child {
    padding-left: 82px;
}

td.active-tab {
    border-bottom: none;
}

.active-tab a {
    text-decoration: none;
    color: #333333;
}

.card-clubs {
    width: 100%;
}

.card-clubs>header {
    margin-bottom: 40px;
}

.empty-tab {
    border-bottom: 1px solid #a1a1a1;
    width: 80px;
    border-right: 0px;
    margin-right: -10px;
}

.tab-set {
    margin-top: 45px;
    width: 100%;
}
.tabs-content {
    margin-top: 23px;
    margin-left: 20px;
    margin-bottom: 30px;

}

.analogs {
    width: 100%;
}

.title-analogs-section {
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.analogs>section {
    width: 100%;
}

.analogs-list {
    width: 100%;
}

.analogs-list>tbody>tr>td{
    width: 217px;
}

.analog-name {
    text-align: center;
    margin-bottom : 20px;
    margin-top: 25px;

}

.card-img-hand-up {
    margin-right: 12px;
}

.card-img-phone {
    margin-right: 13px;
    margin-left: 3px;
}

.card-icons {
    padding-top: 10px;
}

.review {
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 20px;
    padding-top: 10px;
}

.review>table {
    width: 100%;
}

.description-review {
    padding-left: 20px;
    margin-right: 10px;
}

.description-review h4 {
        width: 130px;
    overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}

.description-review {
    width: 130px;
    overflow: hidden;
/*text-overflow: ellipsis;
-o-text-overflow: ellipsis;*/
}

.button-send {
    background: url('/image/send.png') no-repeat;
    width: 131px;
    height: 29px;
    cursor: pointer;
}

.add-review {
    margin-bottom: 30px;
}

.add-review header {
    margin-bottom: 25px;
    margin-top: 15px;
}

.add-review td{
    padding: 5px;
}

.slider {
    width: 150px;
    margin-left: 10px;
}

.value-slider {
    display: block;
    height: 25px;
    width: 100%;
}

.hideClass{
    display: none;
}

.slider-from {
/*    float: left;
    margin-top: 5px;*/
    width: 40px;
}

.slider-to {
/*    float: left;
    margin-left: 80px;
    margin-top: 5px;*/
    width: 40px;
}

.slider-input {
    margin-top: 10px;
}
.tab-set>table {
    float: left;
}
.empty-back-item {
    /*float: left;*/
    /*width: 100%;*/
    border-bottom: 1px solid #a1a1a1;
}

.image-set {
    position: relative;
    height: 507px;
    z-index: 1;
    overflow: hidden;
}

.image-set img{
    position: relative;
}

.main-control {
    width: 100%;
    position: relative;
    top: -150px;
    z-index: 20;
}

.main-control table {
    width: 491px;
}

.main-button {
    width: 491px;
    height: 73px;
    background: url('/image/main-button2.png') no-repeat;
    cursor: pointer;
    margin-bottom: 30px;
}

.non-active-point {
    width: 12px;
    height: 12px;
    background: url('/image/not-active-points.png') no-repeat;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.active-point {
    width: 12px;
    height: 12px;
    background: url('/image/active-point.png') no-repeat;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.switch-slide {
    padding-left: 230px;
    padding-bottom: 20px;
}
.image-set img {
    float: left;
    position: relative;
}

.no-foto {
    margin: 10px;
}

.no-reviews {
    display: block;
    margin-top: 30px;
}

.mini-card-club>table {
    width: 100%;
}

.mini-card-club-price {
    float: right;
}

.image-mini-card {
    width: 180px;
}

.dnone {display:none;}
#window-checkout {padding: 10px; padding-top: 20px; }

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#717171; border-radius: 10px}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:2px solid #717171; background:#fff;border-radius: 10px;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(/image/close.png) no-repeat; width:15px; height:15px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
#window .window-name-options {
    width: 150px;
}

#window {
    width: 100%;
}

#window td{
    padding: 5px;
}

.hide-text {
    color: #a1a1a1;
}

.success-message {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.success-head-message {
    margin-bottom: 20px;
}

.error-text {
    height: 30px;
    color: red;
}

.content-review p {
    margin-bottom: 10px;
}


/*SLIDER*/


.control-slide {
    width: 70px;
    margin-bottom: 20px;
/*    margin-top: 20px;*/
}

.main-controls-slide {
    position: absolute;
    width: 700px;
    top: 390px;
    left: 300px;
    z-index: 30000;
}

.centerSpan {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer {
    background: url('/image/footer.png') repeat-x;
    color: white;
}

#main-content {
    position: relative;

    padding: 30px;
}

#main-content h2 {
    margin-top: 30px;
}

.clubs-contacts {
    margin-top: 20px;
}

.clubs-contacts li {
    display: block;
    float: left;
    margin-right: 40px;
}
/*END SLIDER*/