<form action="{{ searchUrl }}" method="post">
    <input type="text" class="main-search not-empty" name="search" id="search" place="Клубы, описание, услуги, улица"/>
    <div class="button-search" id="submit-search"></div>
</form>