.rating.club-big{
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.rating-vote-answer{
    height: 15px;
    text-align: center;
    color: #aaa;
}

.rating-votes{
    color: #aaa;
    font-size: 10px;
    float: right;
    line-height: 10px;
    margin-right: -10px;
}

.rating-club-passive
{
    margin-left: 5px;
    float: left;
}

.rating-club-passive .button
{
    margin-top: 5px;
    float: left;
}